.service-image{
  opacity: 0.6;
};


.service-btn{
  background-color: #021947;
  color: white

}
.card-style{
  background-color: #021947;
}
.card-background{
  background-color: #021947;
}
/* .Others_bg{
  z-index: 9999;
  margin-top: 100px;
} */