.service-image{
  opacity: 0.6;
};


.service-btn{
  
  color: white

}
.card-style{
 
}
.card-background{
  background-color: #021a4e;
  border: 1px solid rgba(129, 129, 129, 0.534);
  border-radius: 0;
}
/* .Others_bg{
  z-index: 9999;
  margin-top: 100px;
} */