.service-image{
 
};


.service-btn{
  
  color: white

}
.card-style{
 
}
.card-background{
  background-color: #212428;
  
}

.work-card{
  /* height: 325px;
  position: relative; */
  
}

.work-button{
  /* background-color: #505862;
  position: absolute;
  bottom: 25px;
  right: 0; */
  
}

/* .Others_bg{
  z-index: 9999;
  margin-top: 100px;
} */

@media only screen and (max-width: 992px) {
  .service-image {
    margin-top: -300px;
   padding: 30px;
   
  }
  .card-background{
    margin-top: 260px !important;
  }
}
@media only screen and (max-width: 768px) {
  .service-image {
    margin-top: -200px;
   padding: 30px;
   
  }
  .card-background{
    margin-top: 180px !important;
  }
}