.nav-style {
    color: white !important;
    background-color: #111b3b;
    margin-right: 10px;
    color: aliceblue;

}

.nav-style:hover {
    color: red !important;

}

#collasible-nav-dropdown {
    color: white;
}