.input-shadow{
  background-color: #15171a !important;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  border: 1px solid #191b1e !important;
  color: white !important;
}
.input-shadow:hover{
  background-color: #191b1e !important;
  
  border: 1px solid rgb(0, 110, 255) !important;
}

.sent-button{
  background-color: #15171a !important;
 
  border: 1px solid rgb(93, 92, 92) !important;
  
  box-shadow: 5px 5px 10px rgb(7, 7, 7);
}
.sent-button:hover{
  color: rgb(0, 123, 255) !important;
  
}

.special-shadow{
  background-color: #212428;
  color: rgb(210, 207, 207);
  padding: 2px;
  
  /* border-radius: 10px; */
  box-shadow: 5px 5px 10px rgb(7, 7, 7);
  border: 1px solid rgba(129, 129, 129, 0.534);
  
}

.special-shadow:hover{
  color:rgb(186, 185, 185);
  border: 1px solid rgb(93, 92, 92);
  
  opacity: 100%;
  
}
.special-shadow-one{
 border: 1px solid rgb(25, 25, 25)  !important;
 color:rgb(185, 185, 186);
}
.special-shadow-one:hover{
  color:white !important;
  border: 1px solid rgb(93, 92, 92) !important;
  background-color: #003366;
  box-shadow: 5px 5px 10px rgb(7, 7, 7);
  
}