.link-style{
  text-decoration: none;
  padding: 5px 20px !important; 
}
.link-style:hover{
  background-color: #003366;
}

li{
  list-style: none;
  text-decoration: none;
}
li:hover{ 
}
li .active{ 
  background-color: #003366;
}